button {
    border: none;
    cursor: pointer;
    background: none;
    box-sizing: border-box;
    
    &:focus {
        outline: none;
    }
}

.box-button {
    @include typo-sans;

    padding: .2rem .5rem;
    border: 2px solid $color-accent;
    border-radius: 6px;
    transition: .2s ease;
    display: inline-block;
    cursor: pointer;

    background-color: $color-accent;
    color: $color-light;
    border-color: $color-accent;
    a {
        color: $color-light;
    }

    &:hover {
        background: $color-light;
        color: $color-accent;
        border-color: $color-accent;
        a {
            color: $color-accent;
        }
    }

    &:active {
        background-color: $color-accent;
        color: $color-dark;
        border-color: $color-dark;
        a {
            color: $color-dark;
        }
    }
}