$cc-box-shadow: 0 0 0 2px $color-light;
$cc-box-shadow-hover: 0 0 0 2px $color-accent;
$cc-box-shadow-active: 0 0 0 2px $color-dark;

.cc-revoke {
    right: 1em !important;
    @include typo-sans(!important);
    padding: .5em .75em !important;
    box-shadow: $cc-box-shadow;

    &:hover {
        text-decoration: none !important;
        background-color: $color-light !important;
        color: $color-accent !important;
        box-shadow: $cc-box-shadow-hover;
    }
    &:active {
        background-color: $color-accent !important;
        color: $color-dark !important;
        border-color: $color-dark !important;
        box-shadow: $cc-box-shadow-active;
    }

    &.cc-animate {
        transition: .3s ease-out !important;
    }
}

.cc-window {
    text-align: center;
    max-width: 40% !important;
    box-shadow: $cc-box-shadow;

    transition: .3s ease-out !important;
    transform-origin: right bottom;

    &.cc-invisible {
        transform: scale(.5) translate3d(1em, 1em, 0);
    }

    .cc-message {
        @include typo-serif(normal, normal, !important);
    }

    .cc-compliance {
        justify-content: center;

        .cc-btn {
            @include typo-sans(!important);
            font-size: $fontsize-s;
            min-width: 0 !important;
            width: 50% !important;
            max-width: 8rem !important;

            transition: .3s ease-out;
            
            &:hover {
                text-decoration: none !important;
            }

            &:focus {
                text-decoration: none !important;
                outline: none;
            }

            &.cc-deny {
                &:hover {
                    background-color: $color-light;
                    color: $color-accent;
                    border-color: $color-light;
                }
                &:active {
                    background-color: $color-accent;
                    color: $color-dark;
                    border-color: $color-dark;
                }
            }
            &.cc-allow {
                border-color: $color-light;
                &:hover {
                    background-color: $color-accent;
                    color: $color-light;
                    border-color: $color-light;
                }
                &:active {
                    background-color: $color-accent;
                    color: $color-dark;
                    border-color: $color-dark;
                }
            }
        }
    }
}