<div class="product-reminder-wrapper section section-info">
    <p class="product-reminder-column product-reminder-text show-on-scroll">
        Höchste Eisenbahn Dir Deine eigene Flasche zuzulegen? Dann flatsch sie in den Korb!
        Möchtest Du lieber in Flaschen schwimmen, freuen wir uns über Deine <a href="mailto:erde@5b4.shop"
            subject="Ich bin flüssig und gewähre Euch drei Wünsche!">Post</a>.
    </p>
    <div class="product-reminder-column product-reminder-button">
        <div class="product-cart-wrapper">
            <app-button-buy></app-button-buy>
        </div>
    </div>
</div>