<app-product-head></app-product-head>

<app-product-details></app-product-details>

<app-product-features></app-product-features>

<div class="section">
    <app-full-width-carousel [slides]=fullWidthCarouselSlides></app-full-width-carousel>
</div>

<div class="section section-info">
    <p class="show-on-scroll">
        Durstig? Dann bestell Dir für 24,99€
        <a href="https://www.real.de/product/360839467/">Deine 5b4-Trinkflasche</a>.
        Bist Du an einer Zusammenarbeit interessiert, dann freuen wir uns über <a href="mailto:erde@5b4.shop"
            subject="Ich bin flüssig und gewähre Euch drei Wünsche!">Deine Flaschenpost</a>.
        Bald ist auch unser eigener Onlineshop verfügbar.
        Schau doch in der Zwischenzeit auf unserem <a href="https://instagram.com/fivebefore">Instagram-Kanal</a>
        vorbei!
    </p>
</div>

<app-footer></app-footer>