<div class="section section-two-columns">
    <div class="row">
        <div class="column show-on-scroll" id="wrapper-oeoo-logo">
            <a href="https://oneearth-oneocean.com/">
                <img alt="one-earth-one-ocean-logo" src="./assets/logos/oeoo-logo.png">
            </a>
        </div>
        <div class="column show-on-scroll" id="wrapper-donation-counter">
            <p id="donation-counter-amount">
                100 €
                <!--&#x1F30D; &#x2764; &#x1F3C3; &#8364; &#8987; &#x1F41F;-->
            </p>
            <p id="donation-counter-donated">
                <app-tooltip-box [activeText]="'gespendet*'">
                    Etwa einen Kilo Plastik fischt OEOO pro Taler aus den Ozeanen.
                    Davor ziehen wir den Hut und überlassen Dir das Rechnen. <span
                        class="symbol">&#x2764;&#x2764;&#x2764;</span>
                </app-tooltip-box>
            </p>
        </div>
    </div>
</div>