svg {
    height: 100%;
    width: auto;

    .svg-bottle-water {
        transform-origin: center bottom;
        transform: scaleY(0);
        transition: .3s ease-out;
    }
    &:hover {
        .svg-bottle-water {
            opacity: 1;
            transform: scaleY(.8);
        }
    }
}