svg {
    height: 100%;
    width: auto;
    transition: .3s ease-out;

    .svg-bottle-water {
        transform-origin: center bottom;
        transform: scaleY(0);
        transition: .3s ease-out;
    }
    &:hover {
        transform: rotate(22.5deg);
        .svg-bottle-water {
            opacity: 1;
            transform: scaleY(1);
        }
    }
    .svg-bottle-logo {
        transform-origin: 50% 68.75%;
        transition: transform 0.5s cubic-bezier(.3, 2, .3, .5);
    }
}