<!--
<div class="section section-info">
    <app-bullet-list [listItems]="bulletListItems"></app-bullet-list>
</div>
-->

<div class="section section-two-columns section-product-features">

    <div class="row product-feature">
        <div class="column product-feature-info-wrapper">
            <div class="product-feature-info show-on-scroll">
                <h3 class="product-feature-title">Klip klap, Bändel ab.</h3>
                <p class="product-feature-text">
                    Halte Deine Flasche an der langen Leine! Die schicke Trageschlaufe ist abnehmbar. Auf die Stabilität
                    des Verschlusses haben wir besonderen Wert gelegt. In naher Zukunft möchten wir unterschiedliche
                    Bändchen in unser Angebot mitaufnehmen, damit Du Deine Flasche personalisieren kannst.
                </p>
            </div>
        </div>
        <div class="column product-feature-img show-on-scroll">
            <video playsinline autoplay muted loop>
                <source src="./assets/animations/5b4-detail-clipper.mp4" type="video/mp4">
                <img src="./assets/img/5b4-detail-clipper.gif">
            </video>
        </div>
    </div>

    <div class="row product-feature">
        <div class="column product-feature-info-wrapper">
            <div class="product-feature-info show-on-scroll">
                <h3 class="product-feature-title">Tatkräftiges Thermo-Sleeve</h3>
                <p class="product-feature-text">
                    Die Neopren-Tasche hält warme Getränke länger warm und kalte kalt. Zusätzlich schützt sie Deine
                    Flasche vor Flaschen.
                </p>
            </div>
        </div>
        <div class="column product-feature-img show-on-scroll">
            <img src="./assets/img/5b4-detail-sleeve.jpg">
        </div>
    </div>

    <div class="row product-feature">
        <div class="column product-feature-info-wrapper">
            <div class="product-feature-info show-on-scroll">
                <h3 class="product-feature-title">Deckel, öffne dich!</h3>
                <p class="product-feature-text">
                    Die super sichere Verschlusstechnik des Flaschendeckels unterstützt Dich tatkräftig dabei, dass dein
                    Drink – statt aus Versehen auf der Hose – dort landet, wo er hingehört.
                </p>
            </div>
        </div>
        <div class="column product-feature-img show-on-scroll">
            <video playsinline autoplay muted loop>
                <source src="./assets/animations/5b4-detail-deckel.mp4" type="video/mp4">
                <img src="./assets/img/5b4-detail-deckel.gif">
            </video>
        </div>
    </div>

    <div class="row product-feature">
        <div class="column product-feature-info-wrapper">
            <div class="product-feature-info show-on-scroll">
                <h3 class="product-feature-title">Lässiges Fruchtsieb</h3>
                <p class="product-feature-text">
                    Steck Dein Lieblingsobst oder -gemüse in Deine Flasche. Das Fruchtsieb sorgt dafür, dass es Dir
                    nicht in den Hals rutscht.
                </p>
            </div>
        </div>
        <div class="column product-feature-img show-on-scroll">
            <img src="./assets/img/5b4-detail-sieb.jpg">
        </div>
    </div>

    <div class="row product-feature">
        <div class="column product-feature-info-wrapper">
            <div class="product-feature-info show-on-scroll">
                <h3 class="product-feature-title">Alles im Sack!</h3>
                <p class="product-feature-text">
                    Nicht mehr ganz dicht? Dank der mitgelieferten Ersatzdichtung kannst Du das einfach selbst beheben.
                </p>
            </div>
        </div>
        <div class="column product-feature-img show-on-scroll">
            <video playsinline autoplay muted loop>
                <source src="./assets/animations/5b4-detail-beutel.mp4" type="video/mp4">
                <img src="./assets/img/5b4-detail-beutel.gif">
            </video>
        </div>
    </div>

    <div class="row product-feature">
        <div class="column product-feature-info-wrapper">
            <div class="product-feature-info show-on-scroll">
                <h3 class="product-feature-title">Das ist keine Klobürste!</h3>
                <p class="product-feature-text">
                    Die Reinigungsbürste macht Deine Flasche – wer hätte das gedacht – ratzfatz blitzblank sauber!
                    Pflege Deine Flasche, damit ihr dicke Freunde werdet.<br>
                    <span class="text-note">
                        P.S.: Pro Flasche ist nur ein Bürste mit dabei, aber das Bild mit den vier Bürsten war einfach
                        schicker!
                    </span>
                </p>
            </div>
        </div>
        <div class="column product-feature-img show-on-scroll">
            <img src="./assets/img/5b4-detail-buerste.jpg">
        </div>
    </div>
</div>