@import '../../../../../styles/global-variables';

.product-title {
    margin-bottom: 1.2rem;

    h2 {
        @include typo-serif(lighter, normal);
        font-size: $fontsize-xl;
        margin-bottom: .6rem;
    }

    &--bp-small { visibility: hidden; }
    &--bp-large { visibility: visible; }

    @include max-width('small') {
        &--bp-small {
            visibility: visible;
            padding: 8rem 1.5rem 0;
        }
        &--bp-large { visibility: hidden; }
    }

    .box-button {
        margin-right: .25rem;
    }
}

.product-head {

    .product-info-wrapper {
        width: 36rem;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        font-size: $fontsize-m;

        .product-buy {
            margin-bottom: 1rem;
            line-height: 1.7;
        }

        .product-info {
            margin-bottom: 1rem;
        }
    }

    @include max-width('small') {
        padding-top: 0;
    }
}