@import '../../../../../styles/global-variables';

.product-title {
    margin-bottom: 1.2rem;

    h2 {
        @include typo-serif(lighter, normal);
        font-size: $fontsize-xl;
        margin-bottom: .6rem;
    }

    &--bp-small { visibility: hidden; }
    &--bp-large { visibility: visible; }

    @include max-width('small') {
        &--bp-small {
            visibility: visible;
            padding: 8rem 1.5rem 0;
        }
        &--bp-large { visibility: hidden; }
    }

    .box-button {
        margin-right: .25rem;

        @include typo-sans;
        background: $color-light;
        color: $color-accent;
    
        padding: 10px 10px;
        border: 2px solid $color-accent;
        border-radius: 6px;
        transition: .2s ease;
    
        a {
            color: $color-accent;
        }
    
        &:hover {
            background-color: $color-accent;
            color: $color-light;
            border-color: $color-accent;
            a {
                color: $color-light;
            }
        }
    
        &:active {
            background-color: $color-accent;
            color: $color-dark;
            border-color: $color-dark;
            a {
                color: $color-dark;
            }
        }
    }
}

.product-head {

    .product-info-wrapper {
        max-width: 36rem;
        display: flex;
        flex-direction: column;
        font-size: $fontsize-m;

        .product-buy {
            margin-bottom: 1rem;
            line-height: 1.7;
        }

        .product-info {
            margin-bottom: 1rem;
        }
    }
}