
<div class="product-title-wrapper product-title product-title--bp-small">
    <h2>5b4-Flasche</h2>
</div>

<div class="section section-two-columns product-head">

    <div class="column show-on-scroll scroll-image">
        <app-detail-carousel [slides]="detailCarouselSlides"></app-detail-carousel>
    </div>

    <div class="column product-info-wrapper">

        <h2 class="product-title product-title--bp-large show-on-scroll">5b4-Flasche</h2>

        <p class="product-buy show-on-scroll">
            <a href="https://www.real.de/product/360839467/">Kaufen</a>
            für 24,99€
        </p>

        <p class="product-info show-on-scroll">
            Lasst uns unnötigen Einweg-Plastik vermeiden und die 5b4 Trinkflasche verwenden.
            Das vermeidet Plastikmüll und spart CO2.
            Die 5b4 Trinkflasche besticht durch sportliches Design und hochwertige Verarbeitung.
            Das Material ist leicht wie eine Feder und so stabil wie Dein Lieblings-Pumper im Fitness.
            Der Flaschenkörper besteht aus 100% Tritan™ von Eastman und ist somit BPA-frei.
        </p>
    </div>

</div>