header {
    z-index: 100;
    position: fixed;
    width: 100%;

    pointer-events: none;
    
    a {
        position: absolute;

        img, svg {
            height: 100%;
            width: auto;
        }

        &#header-wordmark {
            left: 0;
            height: 2.6rem;
            margin: 1.25rem;

            // ↖⤵↥↤
        }

        &#header-bottle {
            right: 0;
            height: 3.2rem;
            margin: 1rem 1.5rem;
        }

        // Header visiblity animation
        transform: translateY(0);
        pointer-events: all;
        opacity: 1;
        
        //transition: opacity .3s ease, transform .3s ease, pointer-events 0s .3s;

        transition: .4s ease-out;

        &.hidden {
            opacity: 0;
            transform: translateY(-3.5rem);
            pointer-events: none;
        }
    }
}