<footer class="colored-background">
    <div class="left">
        <div>
            <span>+49 (0)1516 2802376</span>
        </div>
        <div>
            <p><a href="mailto:erde@5b4.shop">erde@5b4.shop</a></p>
        </div>
        <div>
            <p><a href="https://www.instagram.com/fivebefore/">Instagram</a></p>
        </div>
    </div>

    <div class="right">
        <div>
            <p><a target="_blank" href=".assets/documents/5b4-Datenblatt.pdf">Datenblatt</a></p>
        </div>
        <div>
            <p><a target="_blank" href=".assets/documents/5b4-Konformitätserklärung.pdf">Konformitätserklärung</a></p>
        </div>
        <div>
            <p><a [routerLink]="['/impressum']" routerLinkActive="active">Impressum & AGB</a></p>
        </div>
    </div>
</footer>