<div class="section section-info product-details">
    <ul class="detail-list">
        <li class="show-on-scroll">
            <app-tooltip-box [activeText]="'frei von BPA*'">
                Alle Bestandteile der Flasche, die mit dem Inhalt in Kontakt kommen, sind BPA-frei.
            </app-tooltip-box>
            Trinkflasche (1l)
        </li>
        <li class="show-on-scroll">
            Original <a href="https://www.tritanfromeastman.com/">Tritan™️ von Eastman</a>
        </li>
        <li class="show-on-scroll">
            Ersatz Dichtungsset
        </li>
        <li class="show-on-scroll">
            Tee- und Fruchtsieb
        </li>
        <li class="show-on-scroll">
            Abnehmbares Band
        </li>
        <li class="show-on-scroll">
            Buchenholzbürste
        </li>
        <li class="show-on-scroll">
            Neopren-Tasche
        </li>
        <li class="show-on-scroll">
            5b4-Beutelchen
        </li>
    </ul>

    <div class="detail-icons">
        <div class="detail-icon show-on-scroll scroll-detail" id="detail-dishwasher-proof">
            <img alt="Dishwasher Proof Icon" src="./assets/icons/dishwasher-proof.svg">
        </div>
        <div class="detail-icon show-on-scroll scroll-detail" id="detail-bpa-free">
            <img alt="BPA Free Icon" src="./assets/icons/bpa-free.svg">
        </div>
    </div>
</div>