@import '../../../../../styles/global-variables';

.product-details {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    .detail-list {
        height: 4 * 1.5 * $fontsize-m;
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: .75rem;
        
        li {
            width: 50%;
        }
        
        @include max-width('large') {
            height: auto;
            li {
                width: 100%;
            }
        }
        @include max-width('small') {
            width: 80%;
        }
    }

    .detail-icons {
        display: flex;
        align-items: center;

        @include max-width('extralarge') {
            flex-direction: column;
        }

        .detail-icon {
            width: 4 * $fontsize-m;
            margin: .75rem;
        }
    }

    @include max-width('small') {
        margin-bottom: 6rem;
    }
}