@import '../../../../../../styles/global-variables';

.button-buy-wrapper {
    width: 100%;
    height: 100%;
    
    #svg-flasche {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        pointer-events: none;
    }
        
    #svg-cart {
        .svg-cart-wheel {
            &--left { transform-origin: 30.25% 85.25%; }
            &--right { transform-origin: 79.75% 85.25%; }
            /*
            &--left,
            &--right {
                transition: .2s cubic-bezier(.1,0,.8,1);
                transform: rotate(-22.5deg);
            }
            */
        }
    }
    
    /*
    &:hover {
        #svg-cart {
            .svg-cart-wheel {
                &--left,
                &--right {
                    transform: rotate(-382.5deg);
                    transition: .4s cubic-bezier(.1,0,.8,1);
                }
            }
        }
    }
    */

    .svg-bottle-logo {
        transform-origin: 50.1109% 45.0962%;
        transition: transform 0.5s cubic-bezier(.3, 2, .3, .5);
    }

    .caption {
        @include typo-sans();
        font-size: $fontsize-s;
        color: $color-accent;
        text-align: center;
        transform: translateX(.3em);
    }
}

.show-on-scroll.button-buy-wrapper {

    #svg-flasche {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        transition: transform .5s ease-out .25s, opacity 0s;
    }

    &.under-viewport,
    &.over-viewport {
    
        #svg-flasche {
            transform: translateY(calc(-100vh - 100%)) rotate(-80deg);
            opacity: 0;
            transition: transform 0s ease-out .3s, opacity .3s;
        }

    }
}